<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>RM-PHONEBOOK</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i" />
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <link rel="stylesheet" href="/assets/css/smoothproducts.css" />
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
      <a class="navbar-brand logo" href="/contact/view">THE PHONEBOOK APP</a>
    </div>
  </nav>
  <main class="page contact-us-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading"></div>
        <form action="/contact/view" method="GET"
          class="row d-flex justify-content-center mb-4 p-3 pb-4 pt-4 bg-warning border-0">

          <div class="col-10"><input class="form-control" type="search" id="search" name="search"
              placeholder="Search..." /></div>
          <button class="btn btn-danger" type="submit" for="search">&nbsp;<i class="fa fa-search"></i></button>
        </form>
        <div class="card">
          <div class="card-body">
            <div class="row d-flex justify-content-center">
              <div class="col-7 text-justify">
                <div id="accordian" class="mt-5">
                  {{#each contacts}}
                  <div class="card">
                    <div class="card-header" role="tab" id="{{this.user_id}}head">
                      <h3 class="mb-0"><a data-toggle="collapse" id="header"
                          data-target="#{{this.user_id}}">{{this.name}}</a></h3>
                    </div>
                    <div class="collapse" id="{{this.user_id}}" data-parent="#accordian">
                      <div class="card-body">
                        <h6 class="text-muted card-subtitle mb-2">
                          <a href="/contact/update/{{this.user_id}}" class="btn btn-primary border-0 float-right"
                            type="button" style="
                                    margin: 0px 2px;
                                    background-color: rgb(9, 135, 14);
                                  ">
                            Edit
                          </a>
                          <a href="/contact/delete/{{this.user_id}}" class="btn btn-primary border-0 float-right"
                            type="button" style="background-color: rgb(207, 52, 52);">
                            Remove
                          </a>
                        </h6>
                        <p>
                          <i class="fa fa-phone-square"></i>&nbsp;{{this.mobile}}
                        </p>
                        <p>
                          <i class="fa fa-envelope"></i>&nbsp;{{this.email}}
                        </p>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="/contact/view?page={{prevPage}}" aria-label="Previous"><span
                        aria-hidden="true">«</span></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/contact/view?page=1">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/contact/view?page=2">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/contact/view?page=3">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/contact/view?page=4">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/contact/view?page=5">5</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="/contact/view?page={{nextPage}}" aria-label="Next"><span
                        aria-hidden="true">»</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-end m-3">
              <a href="/contact/create" style="color: antiquewhite;" class="btn btn-success" type="button">&nbsp;<i
                  class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="/assets/js/smoothproducts.min.js"></script>
  <script src="/assets/js/theme.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>